@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Anek Telugu', sans-serif;
}
:root{
    --fondo: #1C1C28;
    --header: #252537;
}
html{
    background-color: var(--fondo);
    color: #fff;
}

.navbar{
    background-color: var(--header);
    width: 100%;
    margin: 0 auto;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 20px;
}
.navbar-logo{
    font-size: 1.5rem;
    font-style: oblique;
    letter-spacing: 2px;
    align-self: flex-start;
}
.navbar-logo a{
    color: #FFF;
}
.navbar-lista{
    display: flex;
    gap: 20px;
}
.navbar-lista a{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #FFF;
}

.login{
    font-size: 1.2rem;
    letter-spacing: 1px;

}
/* PELICULAS */
.peliculas-contendor{
   max-width: 1024px;
   margin: 0 auto;
}
.peliculas-titulo{
    padding: 20px ;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
}
.peliculas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}
.peliculas img{
    width: 310px;
    height: 320px;
}

/* SERIES */
.series-contenedor{
    max-width: 1024px;
    margin: 0 auto; 
}
.series-titulo{
    padding: 20px ;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
}
.series{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.series img{
    width: 310px;
    height: 300px; 
}
/* CONTACTO */
.contacto-conteiner{
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
    height: auto;    
    background-color: var(--header);
    display: grid;
    /* grid-auto-rows: 400px; */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

} 
.texto{
    padding: 15px;
    
}
.texto h2, p{
    margin: 10px;
    font-size: 1.4rem;
    text-align: center;
}

.contacto-form{
    width: 99%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}  

/* FOOTER */
.footer-container{
    background-color: var(--header);
}


/* ESTILOS LOGIN */
.container{
    height: 100vh;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 300px;
    max-width: 700px;
    height: 600px;
    padding: 20px;
    background-color: var(--header);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form input{
    text-indent: 20px;
    margin: 10px;
    padding: 10px;
    height: 35px;
    border: 0;
}
.form button{
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    padding: 7px;
    border-radius: 5px;
}
.form a{
    color: #FFF;
    text-decoration: underline;
}

.footer-container{
   text-align: center;

}
.redes img{
    width: 30px;
    margin: 10px 20px;
}