@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Anek Telugu', sans-serif;
}
:root{
    --fondo: #1C1C28;
    --header: #252537;
}
html{
    background-color: var(--fondo);
    color: #fff;
}
header{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
} 
.navbar{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--header);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top: 0;
    
}
.navbar-logo{
    padding-left: 20px;
    font-size: 1.5rem;
    font-style: oblique;
    letter-spacing: 2px;
}
 .navbar-logo a{
    color: #FFF;
    font-size: 1.2rem;
} 
.burger{
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 20px;
}
.menu{
    display: none;
}
.navbar-lista{
     width: 100%;
    max-width: 1440px; 
    position: absolute;
    top: 50px;
    background-color: var(--header);
    opacity: .9;
    text-align: center;
    transform: translateY(-200px);
    z-index: 10;
}
.navbar-lista li:hover{
    background-color: #484864d3 ;
    cursor: pointer;
}
.navbar-lista a{
    line-height: 50px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #FFF;
}
.menu:checked ~ .navbar-lista{
    transform: translateY(0px);
    transition: all .4s ease-in-out;
}
.login{
    font-size: 1.2rem;
    letter-spacing: 1px;
}
/* PELICULAS */
.peliculas-contendor{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.peliculas-titulo{
    padding: 10px ;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
}
.peliculas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}
.peliculas img{
    width: 310px;
    height: 320px;
}

/* SERIES */
.series-contenedor{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; 
}
.series-titulo{
    padding: 20px ;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
}
.series{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.series img{
    width: 310px;
    height: 300px; 
}
/* CONTACTO */
.contacto-conteiner{
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: var(--header);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

} 
.texto{
    width: 99%;
    margin: 0 auto;
    padding: 15px;
    justify-self: center;
    align-self: center;
    
}
.texto h2, p{
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.contacto-form{
    width: 99%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;
    justify-self: center;
    align-self: center;
}  

.contacto-form input{
    height: 35px;
    border: 0;
    border-radius: 5px;
    margin: 3px 0; 
}
.contacto-form textarea{
    min-height: 100px;
    max-height: 120px;
    border-radius: 5px;
}
.contacto-form button{
    height: 35px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.contacto-form button:hover{
    background-color: #2525375d;
    color: #FFF;
    transition: all .3s ease-in-out;
}
/* FOOTER */
.footer-container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--header);
}
.copy{
    padding: 10px;
}



.footer-container{
    text-align: center;
    
}
.redes img{
    width: 30px;
    margin: 10px 20px;
}
/* ESTILOS LOGIN */
.container{
    height: 100vh;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 99%;
    max-width: 500px;
    margin: 0 auto;
    height: 600px;
    padding: 20px;
    background-color: var(--header);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form input{
    width: 100%;
    max-width: 500px;
    text-indent: 20px;
    margin: 10px auto;
    padding: 10px;
    height: 35px;
    border: 0;
    border-radius: 5px;
}
.form button{
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    padding: 7px;
    border-radius: 5px;
}
.form a{
    color: #FFF;
    text-decoration: underline;
}


/* REGISTRO */
.registro-contenedor{
    height: 90vh;
}
.registro-form{

    width: 100%;
    max-width: 500px;
    margin: 50px  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registro-form input{
    height: 30px;
    border: 0;
    border-radius: 5px;
}
@media screen and (max-width: 500px) {
    .contacto-conteiner{
       display: flex;
       flex-direction: column;
    }
    .texto h2, p{
        font-size: 20px;
    }
}
