@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}
:root {
  --fondo: #1c1c28;
  --header: #252537;
  --white :#fff;
  --blue:#507DBC;
  --offGolden:#E3B23C;
  --fontOpen: 'Open Sans', sans-serif;
  --fontMontserrat: 'Montserrat', sans-serif;
}
html {
  background-color: var(--fondo);
  max-width: 1024px;
  margin: 0 auto;
}
.navbar {
  padding: 0 20px;
  background-color: var(--header);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  font-size: 1.5rem;
}
.navbar-logo a {
  color: #fff;
  font-size: 1.2rem;
}
.icon-burger {
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 20px;
  display: none !important;
}
.menu {
  display: none;
}
.navbar-list {
  display: flex;
  gap: 30px;
}
.navbar-list-link{
  color: aliceblue;
  font-family: var(--fontOpen);
  font-weight: 500;
  font-size: 1.1rem;
}

/* HERO */
.hero-content{
  height: 400px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../../assets/images/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.hero-title{
  color: var(--offGolden);
  font-family: var(--fontMontserrat);
  font-weight: 600;
  letter-spacing: 2px;
}
.hero-links-content{
  display: flex;
  gap: 40px;
}
.hero-link{
  color: var(--white);
  font-family: var(--fontOpen);
  background-color: var(--blue);
  padding: .5rem 2rem;
  border-radius: 10px;
}
/* .hero h3 {
  padding: 30px;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.hero a {
  line-height: 80px;
  display: inline;
  margin: 0 25px;
  padding: 10px 25px;
  background-color: #fff;
  color: #fff;
  background-color: gray;
  font-size: 1.2rem;
  border-radius: 5px;
}
.hero a:hover {
  background-color: var(--header);
} */

/* PELICULAS */
.peliculas-titulo {
  margin-top: 20px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  column-gap: 10px;
  padding: 0 10px;
}
.peliculas img {
  width: 100%;
  cursor: pointer;
}

/* SERIES */
.series-titulo {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}
.series {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  column-gap: 10px;
  padding: 0 10px;
}
.series img {
  width: 100%;
  cursor: pointer;
}

/* CONTACTO, ESTA EN EL MAIN */
.contacto-conteiner {
  margin: 20px auto;
  border-radius: 5px;
  background-color: var(--header);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
}
.texto {
  width: 99%;
  margin: 0 auto;
  padding: 15px;
  justify-self: center;
  align-self: center;
}
.texto h2 {
  font-size: 2rem;
}
.texto p {
  margin: 10px;
  font-size: 1.2rem;
}
.contacto-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: left;
  justify-self: center;
  align-self: center;
}
.contacto-form input {
  height: 35px;
  border: 0;
  border-radius: 5px;
  margin: 3px 0;
}
.contacto-form textarea {
  width: 99%;
  min-height: 100px;
  max-height: 120px;
  border-radius: 5px;
}
.contacto-form button {
  height: 35px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.contacto-form button:hover {
  background-color: #2525375d;
  color: #fff;
  transition: all 0.3s ease-in-out;
}


/* FOOTER */
.copy {
  padding: 10px;
}
.footer-container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--header);
  text-align: center;
  padding: 20px 0;
}
.redes img {
  width: 30px;
  margin: 10px 20px;
}
#git {
  background-color: #fff;
  border-radius: 50%;
}

/* ESTILOS LOGIN */
.container {
  height: 100vh;
  background-color: var(--fondo);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 99%;
  max-width: 500px;
  margin: 0 auto;
  height: 600px;
  padding: 20px;
  background-color: var(--header);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form input {
  width: 100%;
  max-width: 500px;
  text-indent: 20px;
  margin: 10px auto;
  padding: 10px;
  height: 35px;
  border: 0;
  border-radius: 5px;
}
.false-btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.479);
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.false-btn:hover {
  background-color: var(--fondo);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#link-home {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 1px;
}
.registro {
  background-color: #fff;
  padding: 7px;
  color: #111;
}

/* 
@media screen and (min-width: 600px) {
  .peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10px;
    padding: 0 15px;
  }
  .series {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 650px) {
  .peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    padding: 0 15px;
  }
  .series {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 900px) {
  .contacto-conteiner {
    margin: 20px auto;
    border-radius: 5px;
    background-color: var(--header);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacto-conteiner {
    margin: 20px auto;
    border-radius: 5px;
    background-color: var(--header);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    text-align: center;
  }
}
